.navbar {
  background-color: transparent;
  padding: 30px;
}

.nav-item {
  margin: 0 10px;

  i {
    margin: 0 5px 0 0;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
}

.version-text {
  font-size: 12px;
  position: relative;
  color: white;
  top: 2px;
  left: 10px;
}
